{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <h1><a class="article-title" href="#">About</a></h1>
        <p class="article-content">Today mobile phones become a basic need of individual, as a communication devise
			across the globe. The advances in mobile phone technology and the competitive ght among
			the mobile phone manufacturers created the situation that almost every day a new model of a
			mobile phone is being introduced in to the market. The endless increase in the options space,
			presented a tricky challenge in front of the consumers of mobile phones. The major factors
			that influence consumers in selecting a mobile phone to use include: innovative features, image, price, personal recommendation, durability and portable aspects, influence of media, post-sales service and so on. Among the contemporary mobile communication technologies, the mobilephone became the domestic appliance ever invented with the most radiation".</br>
			Though mobile phones have a number of features in common, manufacturers still try to
			bring uniqueness to their products by adding some more new features to the existing features.
			This made the mobile development a challenge and manufacturers welcoming the challenge
			with a great set of innovative designs. The growing number of brands and models created the fierce market competition. Therefore it is inevitable to run with innovations updates and at
			the same time it is mostly desirable to know the trending thoughts of potential customers.   </p>
			<p class="article-content">Hence, we have developed an AI powered mobile phone recommender system that focuses on a user centric approach and recommends the most suitable phone for the user almost instantaneously, thus saving the time and energy a user generally has to put into looking for a new phone that suits their needs. This application was developed using Flask running on Python, with a powerful neural network hybrid model running in the background that predicts the best phone for the user based on data on the user and over 100 smart phones ranging from 7500 Rs to 1.5 Lakhs</p>
      </div>
    </article>
{% endblock content %}